.home-adm {
    .botoes {
        margin-bottom: 10px;
    }

    .coluna-pencil {
        width: 40px;
        text-align: center;
    }

    .coluna-remover {
        width: 35px;
        text-align: center;
    }

    .coluna-rascunho {
        width: 5%;
        text-align: center;
    }

    .glyphicon-pencil {
        cursor: pointer;
    }
}