.post {
    h1 {
        text-decoration: none;
    }

    .post-ph {
        max-width: 850px;
        margin: 0 auto;

        p {
            line-height: 32px;
            font-family: arial;
            font-size: 17px;
        }
    }
}