.trocarsenha-ph{

    .control-label {
            width: 110px;
            display:inline-block;
            vertical-align:top;
                margin-top: 4px;
    text-align: right;
        }

    .controls {
            margin-left: 0;
            display:inline-block;
        }
    .btn-salvar{
            margin-left: 115px;
    }
}    