<div class="alert hidden">
    <span class="text-success hidden-force">Sucesso!</span>
    <span class="text-error hidden-force">Atenção!</span>
    <span class="text-info hidden-force">Info:</span>
    <span class="text-block hidden-force">Aviso:</span>

    <button type="button" class="close">×</button>
    <h4 class="title">Atenção!</h4>
    <div class="text"></div>
</div>