    <!--MENSAGENS/TEXOS PADROES-->
<div class="hidden">
    <span class="boot-box-atencao">Atenção</span>
    <span class="boot-box-ok">Sim</span>
    <span class="boot-box-cancel">Cancelar</span>
    <span class="boot-box-confirm">Confirmar</span>
    <span class="areyousure">Deseha realmente sair?</span>
    <span class="avisosalvarmodal">Deseja realmente sair sem salvar as alterações?</span>
    <span class="upload-btn-remove">Remover</span>
    <span class="upload-btn-selecione">Selecione</span>
    <span class="sucesso">Registro salvo com sucesso!</span>
</div>