<!-- Modal -->

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
@*<div class="modal"  tabindex="-1" role="dialog">
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">*@
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="help-ph pull-right">
                    <i class="popup pagina-id hidden"></i>
                    <div class="help-keys numero hidden">
                        <span>ctrl+Q</span>
                    </div>
                    <button data-url="{0}" class="btn btn-default btn-xs popup help-button hidden">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    <div class="help-keys ajuda hidden">
                        <span>ctrl+H</span>
                    </div>
                </div>
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                
            </div>
            <div class="modal-body">
                <svg class="spinner modal-loader" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
                    
                <div class="ph"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" aria-hidden="true" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
