.consulta-cnpj .consulta-cnpj-content {
  position: relative; }
  .consulta-cnpj .consulta-cnpj-content label, .consulta-cnpj .consulta-cnpj-content input, .consulta-cnpj .consulta-cnpj-content img {
    margin-left: 10px; }
  .consulta-cnpj .consulta-cnpj-content table {
    width: 42%; }
    .consulta-cnpj .consulta-cnpj-content table a {
      display: none !important; }
.consulta-cnpj .cnpj {
  width: 100px; }
.consulta-cnpj #txtTexto_captcha_serpro_gov_br {
  width: 100px; }
.consulta-cnpj .cnpj-table {
  margin-top: 20px; }
.consulta-cnpj .cnpj-table-linha {
  position: absolute;
  left: 249px;
  top: 0; }
.consulta-cnpj label.error {
  margin-right: 5px; }
.consulta-cnpj label.error[for=cnpj] {
  left: 52px;
  top: 44px;
  position: absolute; }
.consulta-cnpj label.error[for=txtTexto_captcha_serpro_gov_br] {
  left: 56%;
  top: 44px;
  position: absolute; }
.consulta-cnpj img {
  margin-left: 10px;
  margin-right: 10px; }
.consulta-cnpj .btn-enviar {
  margin-top: 10px; }
.consulta-cnpj .consulta-cnpj-result {
  margin-top: 20px;
  line-height: 15px; }
  .consulta-cnpj .consulta-cnpj-result * {
    font-size: 12px !important; }
  .consulta-cnpj .consulta-cnpj-result > table {
    width: 670px; }
